<!-- 悬浮按钮 -->
<button id="more-info-btn" class="floating-btn">看看更多？</button>

<!-- 对话框 -->
<div id="info-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <p>power by 想单推坏女人的话梅糖</p>
        <div class="modal-buttons">
            <a href="https://space.bilibili.com/87874065" target="_blank" class="modal-btn">绛洢Jin_的个人主页</a>
            <a href="https://sakuraovo.site/" target="_blank" class="modal-btn">打开博客</a>
            <a href="http://takeme.to.new.vup.nyanon.online/" target="_blank" class="modal-btn">带我去看别的虚拟主播</a>
        </div>
    </div>
</div>