<!--
    头部组件
    @author Huameitang
    这个组件包含网站的头部导航栏
    包括logo和主要导航链接
    采用语义化HTML结构，便于SEO和可访问性
-->
<header>
    <div class="logo">栖屿 <span class="ember-text">Ember</span></div>
    <nav class="nav-links" id="main-nav">
        <a href="/index.html">首页</a>
        <a href="#fragments">栖屿碎片</a>
        <a href="http://xiyu.answer.nyanon.online/" target="_blank" class="temp-disabled" aria-disabled="true"
            tabindex="-1">棉花糖</a>
        <a href="http://xiyu.address.nyanon.online/" target="_blank" class="temp-disabled" aria-disabled="true"
            tabindex="-1">大航海地址收集</a>
        <a href="danganlib/danganlib.html" class="special-link">档案馆</a>
        <a href="about.html">关于</a>
    </nav>
    <div class="menu-toggle" id="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</header>